git@github.com:clarenceV1/TestApp.git;TestApp; master
git@github.com:clarenceV1/LibDataStore.git;LibDataStore; master
git@github.com:clarenceV1/LibDownload.git;LibDownload;master
git@github.com:clarenceV1/LibImageLoader.git;LibImageLoader; master
git@github.com:clarenceV1/LibCore.git;LibCore; master
git@github.com:clarenceV1/LibUtils.git;LibUtils; master
git@github.com:clarenceV1/LibNet.git;LibNet; master
git@github.com:clarenceV1/LibWidget.git;LibWidget; master